{% extends "CodersBookBundle::base.html.twig" %}

{% block title %} Create person {% endblock %}

{% block content %}
    {% if error is defined%}
        {{error}} <a href="{{ path ('person_admin_new') }}">Powrót</a>
    {% else %}
        {{ person.name }} <a href="{{ path ('person_admin_all',{ 'name': person.clGroup.name}) }}">Powrót</a>
    {% endif %}
{% endblock %}
