<!DOCTYPE html>
<html>
    <body>
        {% if success is defined %}
            Success!
         {% endif %}
            {{form_start(form)}}
            {{form_widget(form)}}
            {{form_end(form)}}
     </body>
</html>