{% extends "CodersBookBundle::base.html.twig" %}

{% set title = 'Dodawanie grupy' %}

{% block content %}
    {% if error is defined %}
        <div class="info error"><i class="material-icons">warning</i> {{ error }}</div>
        <div class="w100 text-center"><a href="{{ path('group_admin_new') }}">Dodaj jeszcze raz</a></div>
    {% else %}
        <div class="info success"><i class="material-icons">done</i> Poprawnie dodano grupę.</div>
        <div class="w100 text-center"><a href="{{ path('group_admin_all') }}">Strona główna</a></div>
    {% endif%}
{% endblock %}