{% extends "CodersBookBundle::base.html.twig" %}

{% block title %} Delete {% endblock %}

{% block content %}
    <form action="" method="POST">
        Wybierz grupę do której chcesz przenieść osoby z usuwanej grupy:
        <select name="selectedGroup">
            {% for group in groups %}
                <option value="{{group.id}}">{{ group.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Przenieś osoby do tej grupy</button>
    </form>
{% endblock %}