{% extends "CodersBookBundle::base.html.twig" %}

{% block title %} SearchGet {% endblock %}

{% block content %}
    Wpisz szukaną frazę:
    <form action="" method="POST">
        <input type="text" name="inserted_text"></input>
        <button type="submit">Szukaj</button>
    </form>
{% endblock %}